.catalog {
  @media (min-width: $tablet-width) {
    @include box;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 20px;

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 80px;
      row-gap: 17px;
    }
  }
}

@media (max-width: $modile-width-only) {
  .catalog__list:last-child {
    border-bottom: 1px solid $extra-light-grey;
  }
}
