.container__link {
  font-family: $font-additional;
  font-size: $fs-additional;
  line-height: $lh-additional;
  text-transform: uppercase;
  /*color: $basic-white;*/
}

.container__legend {
  line-height: 16px;
}
