.example {
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    background: linear-gradient($basic-white 60%, $background-grey 40%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient($basic-white 25%, $background-grey 25% 100%);
    padding-bottom: 64px;
  }
}

.example__holder {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__title {
  font-size: $fs-accent;
  line-height: $lh-accent;
  font-weight: $fw-normal;
  font-family: $font-additional;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: $fs-tablet-accent;
    line-height: $lh-tablet-accent;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}


.example__text {
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.example__features {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }
}

.example__list {
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__item {
  border: 1px solid $special-grey;
  border-radius: 3px;
  padding-top: 13px;
  min-width: 124px;
  height: 56px;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  font-family: $font-additional;
  color: $basic-black;
  text-transform: uppercase;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  background-color: $background-grey;
  max-width: 86px;
  margin: auto;
  padding: 10px 15px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    max-width: 97px;
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    background-color: $background-grey;
  }
}

.example__price {
  line-height: $lh-additional;
  font-family: $font-additional;
  color: $basic-black;
  text-transform: uppercase;
  padding-top: 25px;
}

.example__progress {
  font-family: $font-additional;
}

.example__progress--before {
  margin-top: 42px;
}

.example__progress--after {
  display: none;
}
