.footer {
  background-color: $basic_grey;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 156px;
    padding-top: 53px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    gap: 410px;
    padding-top: 57px;
    padding-bottom: 27px;
  }
}

.footer__logo {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: auto;
  }
}

