.form__fieldset {
  font-family: $font-additional;
  font-size: $fs-additional;
  line-height: $lh-main;
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: $fs-tablet;
    line-height: 29.64px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__info {
  padding-top: 17px;
  padding-bottom: 27px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 72px;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.form__fieldset--radio {
  @media (min-width: $desktop-width) {
    padding-top: 44px;
  }
}

.form__comments {
  display: flex;
  flex-direction: column;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  text-transform: none;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: $fs-accent;
    line-height: 36px;
  }
}

.form__title {
  margin-bottom: 38px;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    margin-bottom: 76px;
  }
}

.form__comments--title {
  &::before {
    position: absolute;
    content: "";
    left: calc(100% + 20px);
    top: 20px;
    border-top: 2px solid $basic-green;
    width: 100vw;
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      left: calc(100% + 40px);
      top: 20px;
      border-top: 2px solid $basic-green;
      width: 100vw;
    }

    &::after {
      position: absolute;
      content: "";
      transform-origin: left;
      transform: rotate(180deg);
      top: 20px;
      left: -40px;
      border-top: 2px solid $basic-green;
      width: 100vw;
    }
  }
}

.form__legend--contacts,
.form__legend--extra {
  margin-bottom: 35px;
}

.form__legend--extra {
  padding-top: 23px;

  &::before {
    position: absolute;
    content: "";
    left: calc(100% + 20px);
    top: 40px;
    border-top: 2px solid $basic-green;
    width: 100vw;
  }

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    margin-bottom: 57px;

    &::before {
      left: calc(100% + 40px);
      top: 80px;
    }

    &::after {
      position: absolute;
      content: "";
      transform-origin: left;
      transform: rotate(180deg);
      top: 80px;
      left: -40px;
      border-top: 2px solid $basic-green;
      width: 100vw;
    }
  }
}

.form__legend--contacts {
  padding-top: 26px;

  &::before {
    position: absolute;
    content: "";
    left: calc(100% - 60px);
    top: 44px;
    border-top: 2px solid $basic-green;
    width: 100vw;
  }

  @media (min-width: $tablet-width) {
    padding-top: 71px;
    margin-bottom: 76px;

    &::before {
      left: calc(100% + 40px);
      top: 85px;
    }

    &::after {
      position: absolute;
      content: "";
      transform-origin: left;
      transform: rotate(180deg);
      top: 85px;
      left: -40px;
      border-top: 2px solid $basic-green;
      width: 100vw;
    }
  }
}

.form__content {
  display: flex;
  align-items: center;
  position: relative;
}

.form__input {
  border: 1px solid $extra-dark-grey;
  padding: 13px 40px 13px 14px;
  width: 100%;
  height: 45px;

  &::placeholder {
    position: relative;
    font-family: $font-additional;
    font-size: $fs-additional;
    line-height: $lh-main;
    color: $special_dark-grey;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: $fs-tablet;
      line-height: 29.64px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: $fs-tablet;
    line-height: 29.64px;
    height: 52px;
  }

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus {
    border: 1px solid $special_dark-grey;
  }

  &:invalid {
    border: 2px solid $status_error;
  }
}

.form__input--error {
  border: 1px solid $status_error;
}

.form__textarea {
  width: 100%;
  border: 1px solid $extra-dark-grey;
  text-align: center;

  &::placeholder {
    font-family: $font-additional;
    font-size: $fs-additional;
    line-height: $lh-main;
    color: $special_dark-grey;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-top: 10px;
    padding-left: 19px;

    &::placeholder {
      font-size: $fs-tablet;
      line-height: 30px;
    }
  }
}

.form__label {
  margin-right: 15px;
}

.form__label--radio {
  color: $special-extra_dark-grey;
  position: relative;
  margin-left: 45px;
}

.form__label--checkbox {
  color: $basic-black;
  position: relative;
  margin-left: 46px;

  @media (min-width: $tablet-width) {
    margin-left: 58px;
  }
}

.form__list {
  padding-bottom: 41px;
}

.form__list--radio {
  padding: 25px 0;
  border-top: 1px solid $special-light-grey;
  border-bottom: 1px solid $special-light-grey;

  @media (min-width: $tablet-width) {
    border: 1px solid $special-light-grey;
    padding-left: 31px;
  }
}

.form__list--checkbox {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 123px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -2px;
  left: -46px;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__checkbox:hover + .form__label--checkbox::before {
  border: 1px solid $special-grey-hover;
}

.form__checkbox:disabled + .form__label--checkbox::before {
  color: $special-grey-disabled;
}

.form__checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: -43px;
  width: 26px;
  height: 26px;
  background-image: url("../img/form/check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: 5px;
    left: -37px;
  }
}

.form__item:not(:last-child) {
  margin-bottom: 27px;
}

.form__radio + .form__label--radio::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -46px;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__radio:hover + .form__label--radio::before {
  border: 1px solid $special-grey-hover;
}

.form__radio:disabled + .form__label--radio::before {
  color: $special-grey-disabled;
}

.form__radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -37px;
  width: 14px;
  height: 14px;
  background-image: url("../img/form/radio.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: 11px;
    left: -32px;
  }
}

.form__input--phone {
  position: absolute;
  top: 11px;
  right: 13px;
  color: $special-extra_dark-grey;

  &:focus {
    color: $basic-green;
  }
}

.form__input--mail {
  position: absolute;
  top: 13px;
  right: 15px;
}
