.form__fieldset {
  font-family: $font-additional;
  font-size: $fs-additional;
  line-height: $lh-main;
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;
}

.form__wrapper {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__comments {
  display: flex;
  flex-direction: column;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  text-transform: none;
}

.form__comments--title {
  margin-bottom: 38px;
}

.form__legend--contacts,
.form__legend--extra {
  margin-bottom: 35px;
}

.form__input,
.form__textarea {
  border: 1px solid $special-grey;

  &::placeholder {
    font-family: $font-additional;
    font-size: $fs-additional;
    line-height: $lh-main;
    color: $special_dark-grey;
    text-transform: uppercase;
  }
}

.form__label--radio {
  color: $special-extra_dark-grey;
}

.form__label--checkbox {
  color: $basic-black;
}

.form__list--checkbox {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}
