.invite {
  display: flex;
  align-items: center;
  background-color: $basic-white;
  padding: 28px 19px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 66px 71px 51px 71px;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    position: absolute;
    background-color: $basic-white;
    width: 570px;
    height: 201px;
    top: 95px;
    left: 110px;
  }
}

.invite--additional {
  background-color: $basic_grey;

  @media (min-width: $desktop-width) {
    background-color: $basic_white;
  }
}

.invite__title {
  font-size: $fs-additional;
  font-weight: $fw-normal;
  text-transform: uppercase;
  font-family: $font-additional;
  color: $dark-grey;
  margin: 0;
}

.invite__text {
  line-height: $lh-additional;
}

.invite__text--desktop {
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.invite__text--desktop p {
  @media (max-width: $modile-width-only) {
    margin: 0;
  }
}
