.invite {
  margin: 28px 0;
}

.invite__title {
  font-size: $fs-text-big;
  font-weight: 400;
  text-transform: uppercase;
}

.invite__text {
  line-height: $ls-text-big;
  font-family: $font-Arial;
}
