.map--additional {
  background-color: $basic_grey;

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.map__piece {
  position: relative;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
