.map--additional {
  background-color: $basic_grey;

  @media (min-width: $desktop-width) {
    background-color: $basic_white;
  }
}

.map__frame {
  position: relative;
  width: 100%;
  min-height: 362px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__desktop {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.map__frame-wrapper {
  width: auto;
  height: 362px;
  background-color: $special-grey;
  border: none;
  background-image: url("../img/footer/map-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/footer/map-mobile2x.png");
  }
}

.map__iframe {
  width: 100%;
  height: 362px;
  border: none;
}

@media (min-width: $tablet-width) {
  .map__frame-wrapper {
    overflow: hidden;
    height: 400px;
    background-image: url("../img/footer/map-tablet.png");
    margin: 0;
    width: auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/footer/map-tablet2x.png");
    }
  }

  .map__iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map__frame-wrapper {
    margin: 0;
    width: auto;
    background-image: url("../img/footer/map-desktop.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/footer/map-desktop2x.png");
    }
  }
}
