.nav {
  font-size: 20px;
  line-height: $lh-additional;
  font-weight: $fw-medium;
  text-transform: uppercase;
  color: $basic-black;
  font-family: $font-additional;
}

.nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid $special-light-grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 35px;
  }
}

@media (min-width: $tablet-width) {
  .nav__item--active {
    border-bottom: 2px solid $basic-green;
  }
}

.nav__link {
  color: $basic-black;
}
