@media (min-width: $tablet-width) {
  .product {
    background-color: $basic_grey;
  }
}

.product__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
}

.product__title {
  font-family: $font-additional;
  font-size: $fs-additional;
  line-height: $lh-additional;
  color: $special-extra_dark-grey;
  font-weight: $fw-normal;
}

.product__cell,
.product__text {
  font-size: 12px;
  line-height: 16px;
}

.product__order {
  font-family: $font-additional;
  font-size: $fs-additional;
  line-height: $lh-additional;
  /*color: $basic-white;*/
}

.product__more {
  font-family: $font-additional;
  font-size: $fs-additional;
  line-height: $lh-additional;
  color: $dark-grey;
}

.product__show {
  font-family: $font-additional;
  font-size: $fs-additional;
  line-height: $lh-additional;
  color: $special_dark-grey;
}
