.program__wrapper {
  margin-bottom: 27px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
    padding: 0 110px;
  }
}

.program__title {
  text-align: center;
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  font-weight: $fw-normal;
  text-transform: uppercase;
  font-family: $font-additional;
}

.program__catalog {
  font-size: $fs-additional;
  font-family: $font-additional;
  color: $basic-black;
}

.program__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.program__top {
  background-color: $basic-grey;

  &:first-child {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      margin-right: 80px;
    }
  }
}
