.promo {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-additional;
  color: $basic-white;
  margin-bottom: 22px;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 111px;
    z-index: 2;
  }
}

.promo-img {
  @include box--map;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-width: 320px;
    height: 302px;
    background-image: url("../img/promo/background-cat.png");
    background-color: $special-grey;
    background-repeat: no-repeat;
    z-index: -2;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo/background-cat2x.jpg");
      background-size: auto 320px 302px auto;
      background-position: center;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 302px;
    top: 0;
    left: 0;
    background-color: $spesial-light-green;
    z-index: -1;
    background-position: center;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.promo--addtitonal {
  @include box;
  text-align: left;
  color: $basic-black;
  position: relative;
  top: 0;
}

.promo--form {
  @include box--form;
  text-align: left;
  color: $basic-black;
  position: relative;
  top: 0;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    align-items: flex-start;
    padding-left: 117px;
    position: relative;
    margin-bottom: 55px;
    min-height: 810px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    background-position: 500px 0;
    background-size: 552px 499px;
    top: 28px;
    margin-bottom: 0;
    min-height: 550px;
  }
}

.promo__title {
  font-size: $fs-accent;
  line-height: 36px;
  text-transform: none;
  font-weight: $fw-normal;
  margin: 26px 0;

  @media (min-width: $tablet-width) {
    margin: 61px 0 41px 0;
    font-size: $fs-tablet-accent;
    line-height: $lh-tablet-accent;
    text-align: left;
    padding-right: 100px;
  }

  @media (min-width: $desktop-width) {
    width: 414px;
    padding: 0;
    margin-top: 82px;
  }
}

.promo__title--addtitonal {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
    margin-bottom: 45px;
    width: 100%;
  }
}

.promo__intro {
  line-height: 14px;
  margin-bottom: 29px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: $fs-tablet;
    line-height: $lh-additional;
  }
}

.promo__text {
  @media (min-width: $tablet-width) {
    font-size: $fs-tablet;
    line-height: 30px;
    padding-right: 241px;
    padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 323px;
    padding-right: 0;
  }
}

.promo__photo {
  @media (min-width: $tablet-width) {
    order: 2;
    position: absolute;
    top: 255px;
    left: 29px;
    width: 709px;
    height: 600px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    transform: translateX(95%);
    width: 552px;
    height: 499px;
    position: absolute;
  }
}

.promo__link {
  padding: 11px 73px;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    font-size: $fs-tablet;
    line-height: $lh-additional;
  }
}

.promo__title--catalog {
  margin-bottom: 41px;
  width: 100%;
}
