.slider {
    margin-bottom: 86px;

    @media (max-width: $adaptive-width) {
        margin-bottom: $spacing-4xl;
    }
    
    &__title {
        margin-bottom: $spacing-xl;

        @media (max-width: $adaptive-width) {
            margin-top: $spacing-s;
        }
    }

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $adaptive-width) {
            margin: 0 -#{$spacing-2l};
        }
    }

    &__photo {
        display: block;
        margin: 0 auto;
    }

    &__button {
        min-width: 64px;
        min-height: 64px;
        border-radius: 50%;
        border: 1px solid $line;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        background-color: $bg-white;
        position: relative;
        z-index: 1;
        

        &_prev {
            left: 32px;
        }

        &_next {
            right: 32px;
        }

        @media (max-width: $adaptive-width) {
            display: none;
        }
    }

    &__plate {
        width: 410px;
        position: absolute;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(16px);
        border-radius: 24px;
        top: 40px;
        left: 44px;
        padding: $spacing-2xl $spacing-4xl $spacing-2xl $spacing-2xl;

        @media (max-width: $adaptive-width) {
            width: auto;
            top: 26px;
            left: 20px;
            right: 20px;
            padding: $spacing-2xl $spacing-2l $spacing-2l;
        }
    }

    &__plate-title {
        margin-bottom: $spacing-m;
    }

    &__plate-descr {
        @include P-14-medium;
        color: $text-primary;
        margin-bottom: $spacing-3xl;

        @media (max-width: $adaptive-width) {
            margin-bottom: $spacing-2l;
        }
    }

    &__photo-container {
        position: relative;
    }

    &__points {
        position: absolute;
        bottom: 55px;
        left: 44px;

        @media (max-width: $adaptive-width) {
            bottom: $spacing-2xl;
            left: 24px;
        }
    }

    &__point-list {
        display: flex;
        gap: $spacing-m;
    }

    &__point-item {
        min-width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $bg-white;
        opacity: 0.5;

        &_is-active {
            box-shadow: 0 0 0 4px $bg-white;
            opacity: 1;
            background-color: transparent;
        }
    }
}