.social {
  padding: 0 77px 0 73px;
  border-top: 1px solid $special-light-grey;
  border-bottom: 1px solid $special-light-grey;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.social__list {
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: space-between;
}

.social__item {
  margin-top: 20px;
  margin-bottom: 21px;
}

.social__link {
  color: $social-dark-grey;
}

.social__link:hover {
  color: $basic-green;
}

.social__link:active {
  color: $basic-green--active;
}
