.special__wrapper {
  margin-bottom: 42px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 90px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 0 110px;
  }
}

.special__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.special__title {
  font-size: $fs-accent;
  line-height: $lh-accent;
  font-weight: $fw-normal;
  font-family: $font-additional;
  color: $basic-black;
}
