// Fonts
$font-Oswald: "Oswald", "Arial", sans-serif;
$font-Arial: "Arial", sans-serif;
$fs-text: 14px;
$lh-text: 18px;
$fs-title: 36px;
$lh-title: 40px;
$fs-text-big: 16px;
$ls-text-big: 20px;

// Color
$special_dark-grey: #444444;
$basic-green: #68b738;
$basic-black: #000000;
$basic-white: #ffffff;
$basic_grey: #f2f2f2;
$special-grey: #cdcdcd;
$background-grey: #eaeaea;
$special-grey-2: #d9d9d9;
$dark-grey: #111111;
$special-light-grey: #e6e6e6;

